{% extends 'base.html' %}

{% block content %}
{% if request.user.has_company %}

<div>
  <button type="button" class="btn btn-secondary mb-5 px-10 py-3 btn-cool-blues" data-toggle="modal" data-target="#exampleModalCenter">
      <a href="{% url 'company' %}">My Company</a>
 
      </button>
    </button>
    &nbsp;
    &nbsp;
    &nbsp;
    <button type="button" class="btn btn-secondary mb-5 px-10 py-3 btn-cool-blues" data-toggle="modal" data-target="#exampleModalCenter">
      <a href="{% url 'jobs' %}">My Jobs</a>
    </button>
    
  <!--modal-Body-->
  <div class="card-header bg-light">   
    <a class="btn btn-primary" href="{% url 'create_company' %}" role="button">Add Company</a>
    &nbsp;&nbsp;
    <a class="btn btn-primary" href="{% url 'create_startup' %}" role="button">Add Startup</a>

    
       
     

      

      </div>
      <div class="table-responsive">
          <table class="table table-hover table-nowrap">
              <thead class="thead-light">
                  <tr>
                      <th scope="col">Name</th>
                      <th scope="col">Type</th>
                      <th scope="col">Description</th>
                        <th scope="col">Action</th>
               


                      <th></th>
                  </tr>
              </thead>
              <tbody>
                {% for company in companys %}
                <tr>    
                      <td>
                          {{company.name}}
                      </td>
                      <td>
                       Company
                    </td>
                   
                   <td>
                    {{company.description}}
                 </td>
                 <td class="">
                       
                  <a href="{% url 'company_details' pk=company.pk %}" class="btn btn-sm btn-outline-info">View Detail</a>   
                  &nbsp;
                  <a href="{% url 'update_company' pk=company.pk %}" class="btn btn-sm btn-outline-info">Update</a> 
                  
              </td>
                </tr>
                {% endfor %}

                {% for startup in startups %}
                <tr>    
                      <td>
                          {{startup.name}}
                      </td>
                      <td>
                       Startup
                    </td>
                  
                   <td>
                    {{startup.description}}
                 </td>
                 <td class="">
                       
                  <a href="{% url 'startup_details' pk=startup.pk %}" class="btn btn-sm btn-outline-info">View Detail</a>   
                  &nbsp;
                  <a href="{% url 'update_startup' pk=startup.pk %}" class="btn btn-sm btn-outline-info">Update</a> 
                  
              </td>
                </tr>
                {% endfor %}
              </tbody>
              


             
          </table>
      </div>
      <div class="card-footer border-0 py-5">
          <span class="text-muted text-sm">Showing 10 items out of 250 results found</span>
          <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item"><a class="page-link disabled" href="#">Previous</a></li>
              <li class="page-item"><a class="page-link bg-info text-white" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
          </nav>
      </div>
  </div>
</div>
{% endif %}



{% endblock content %}