{% extends 'job/base.html' %}
{% load widget_tweaks %}





{% block content %}

<!-- main -->
<div class="container py-5">
      <!-- Start Title -->
      <div class="row mb-4">
        <div class="col-lg-8 mx-auto text-center">
          <h1 class="display-4">Job</h1>
        </div>
      </div>
      <!-- End Title-->

      <!-- Main row-->
      <div class="row">     
        <!-- Main col-->
        <div class="col-lg-7 mx-auto">

            <!-- Main bg-->
            <div class="bg-white rounded-lg shadow-sm p-5">
                 
             
                    
                  <!--Generail-info-->
                  <div id="nav-tab-card" class="tab-pane fade show active">
                    <h1>Person Information</h1>
                    <form method="POST" action="#">
                      {% csrf_token %}
                      <div class="form-group">
                        <label for="Role">Selct-company-drop-down</label>
                        {% render_field form.the_title class="form-control" placeholder="Title"  %}
                    </div>
                    <div class="form-group">
                      <label for="Role">Selct-startup-drop-down</label>
                      {% render_field form.the_title class="form-control" placeholder="Title"  %}
                  </div>
                     
                      <div class="form-group">
                          <label for="Role">Title</label>
                          {% render_field form.the_title class="form-control" placeholder="Title"  %}
                      </div>
                      <div class="form-group">
                        <label for="Role">Location</label>
                        {% render_field form.location class="form-control" placeholder="location"  %}
                    </div>
                    <div class="form-group">
                      <label for="Role">Salary</label>
                      {% render_field form.salary class="form-control" placeholder="salary"  %}
                  </div>
                  <div class="form-group">
                    <label for="Role">Requirement</label>
                    {% render_field form.requirnment|attr:"rows:2" class="form-control" placeholder="Requirement"  %}
                </div>
              
              <div class="form-group">
                <label for="Role">Ideal_candidate</label>
                {% render_field form.idel_candidate|attr:"rows:2" class="form-control" placeholder="Requirement"  %}
            </div>
            <div class="form-group">
              <label for="Role">Catagory</label>
              {% render_field form.industry class="form-control" placeholder="Requirement"  %}
          </div>
            <div class="form-group">
              <label for="Role">Is Job Available</label>
              {% render_field form.is_available class="form-check-input" placeholder="is-available"  %}
          </div>
                   


                    <button type="submit" class="subscribe btn btn-primary btn-block rounded-pill shadow-sm"> Save</button>

  
                  </form>
                  

                  </div>
                  <!--end-general-->





            </div>
             <!--End Main bg-->
        </div>
        <!--End Main col-->

      </div>
      <!--End Main row-->


</div>

{% endblock content %}
