{% extends 'index/base.html' %}
{% load humanize %}
{% block content %}
 <!-- Job Detail Start -->
 <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="row gy-5 gx-4">
            <div class="col-lg-8">
                <div class="d-flex align-items-center mb-5">
                    <div class="text-start ps-4">
                        <h3 class="mb-3">{{job.the_title}}</h3>
                        <span class="text-truncate me-0"><i class="far fa-money-bill-alt text-secondary me-2"></i>{{job.salary}} ETB</span>
                    </div>
                </div>

                <div class="mb-5">
                    <h4 class="mb-3">Description</h4>
                    <p>{{job.requirnment}}</p>                   
                    <h4 class="mb-3">Qualifications</h4>
                    <p>{{job.idel_candidate}}</p>
                   
                </div>

                <div class="">
                    <h4 class="mb-4">Apply For The Job</h4>
                    <form>
                        <div class="row g-3">
                           
                           
                            <div class="col-12">
                                {% if has_applied == False %}
                                <a  href="{% url 'apply-to-job' job.pk %}" class="btn btn-secondary w-100">Apply Now</a>
                                {% else %}
                                <p><span class="text-danger">You have already applied for this job</span></p>
                                {% endif %}
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="bg-light rounded p-5 mb-4 wow slideInUp" data-wow-delay="0.1s">
                    <h4 class="mb-4">Job Summary</h4>
                    <p><i class="fa fa-angle-right text-secondary me-2"></i>{{job.timestamp}}</p>
                    <p><i class="fa fa-angle-right text-secondary me-2"></i>{{job.salary}}</p>
                    <p><i class="fa fa-angle-right text-secondary me-2"></i>Location:Remote</p>
                </div>
                <div class="bg-light rounded p-5 wow slideInUp" data-wow-delay="0.1s">
                    <h4 class="mb-4">Company Detail</h4>
                    <h5 class="mb-4"> {{job.startup.name}}</h5>
                    <h5 class="mb-4"> {{job.company.name}}</h5>
                    <p class="m-0">{{job.company.description}}</p>
                    <p class="m-0">{{job.startup.description}}</p>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Job Detail End -->
{% endblock content %}