{% extends 'admin_pages/base.html' %}
{% block content %}
<div class=" mx-5 card shadow border-0 mb-7">
    <div class="card-header">
        <h5 class="mb-0">Reported Jobs</h5>
    </div>
    <div class="table-responsive">
        <table class="table table-hover table-nowrap">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Reported By</th>
                    <th scope="col">job owner</th>
                    <th scope="col">jOB Title</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for job in reported_jobs %}
                <tr>
                    
                    <td>
                        {{job.created_at}}
                    </td>
                    <td>  
                        {{job.reported_by}}                      
                    </td>
                    <td>   
                        {{job.reported_job.user}}

                    </td>
                    <td>
                        <span class="">
                            <i class="bg-success"></i>{{job.reported_job.the_title}}
                        </span>
                    </td>
                    <td class="text-end">
                        <a href="{% url 'report-detail' pk=job.pk %}" class="btn btn-sm btn-outline-info">View Report Detail</a>  
                        <a href="{% url 'about-report-detail' pk=job.pk %}" class="btn btn-sm btn-outline-info">View Job Detail</a>   
 
                    </td>
                </tr>
                {% endfor %}

               
            </tbody>
        </table>
    </div>
    <div class="card-footer border-0 py-5">
        <div class="pagination">
            <span class="step-links">
                {% if jobs.has_previous %}
                    <a href="?page=1">&laquo; First</a>
                    <a href="?page={{ jobs.previous_page_number }}">&laquo; Previous</a>
                {% endif %}
    
                
            </span class="current">
                Page {{ jobs.number }} of {{ jobs.paginator.num_pages }}
            </span>
    
    
                {% if jobs.has_next %}
                <a href="?page={{ jobs.next_page_number }}">&raquo; Next</a>
                <a href="?page={{ jobs.paginator.num_pages }}">Last</a>
                {% endif %}
            </span>
          </div>
    </div>
</div>


{% endblock content %}
