{% extends 'admin_pages/base.html' %}
{% load static %}
{% block content %}
<div class="page-wrapper">
 

    <!-- END BREADCRUMB-->
     <!--User-Profile-->
     <div class=" mx-5 card shadow border-0 mb-7">
        <div class="card-header">
            <h5 class="mb-0">JOBS</h5>
        </div>
        <div class="table-responsive">
            <table class="table table-hover table-nowrap">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Company</th>
                        <th scope="col">Offer</th>
                        <th scope="col">Job Title</th>

                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for j in jobs %}
                    <tr>
                        
                        <td>{{j.timestamp}}</td>
                        <td>
                            {{j.company}}
                            
                        </td>
                        <td>{{j.salary}}</td>
                        <td>
                            <span class="">
                                <i class="bg-success"></i>{{j.the_title}}
                            </span>
                        </td>
                        <td class="text-end">
                       
                            <a href="{% url 'job-detail' pk=j.pk %}" class="btn btn-sm btn-outline-info">View Detail</a>   
                            &nbsp;
                            <a href="{% url 'update-job' pk=j.pk %}" class="btn btn-sm btn-outline-info">Update</a>   
                            &nbsp;
                            <a href="{% url 'admin_response' pk=j.pk %}" class="btn btn-sm btn-outline-info">Review</a> 
                            &nbsp;
                            <a href="{% url 'job-messages' pk=j.pk %}" class="btn btn-sm btn-outline-info">Send Messages</a>     

                        </td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
        <div class="card-footer border-0 py-5">
            <span class="text-muted text-sm">Showing 10 items out of 250 results found</span>
            <nav aria-label="Page navigation example">
              <ul class="pagination">
                <li class="page-item"><a class="page-link disabled" href="#">Previous</a></li>
                <li class="page-item"><a class="page-link bg-info text-white" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
              </ul>
            </nav>
        </div>
    </div>


     
    </div>
{% endblock content %}
