{% extends 'admin_pages/base.html' %}
{% block content %}
<section class="p-t-20">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="title-5 m-b-35">User Detail</h3>
                <div class="table-data__tool">
                  
                    <div class="table-data__tool-right">
                        <button class="au-btn au-btn-icon au-btn--blue au-btn--small">
                            Add/Remove users from blocklist
                            <button class="au-btn au-btn-icon au-btn--green au-btn--small">
                    </div>
                </div>
                <div class="table-responsive table-responsive-data2">
                    <table class="table table-data2">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Status</th>
                                <th>Action</th>

                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in users %}
                            {% if not user.is_superuser %}
                            <tr class="tr-shadow">
                             
                                <td>{{user.resume.first_name}}</td>
                                <td>
                                    <span class="block-email">{{user.email}}</span>
                                </td>
                                <td>
                                    {% if not user.is_blocked == True %}
                                    <span class="status--process">Active
                                    </span>
                                {% else %}
                                <span class="status--process">Blocked
                                </span>
                                </td>
                                {% endif %}
                                
                                <td>
                                    <div class="table-data-feature">
                                        <button class="item" data-toggle="tooltip" data-placement="top" title="block">
                                            <a href="{% url 'block_users' pk=user.pk %}"><i class="zmdi zmdi-plus"></i></a>
                                        </button>
                                        <button class="item" data-toggle="tooltip" data-placement="top" title="REMOVE FROM LIST">
                                            <a href="{% url 'unblock_users' pk=user.pk %}"><i class="zmdi zmdi-delete"></i></a>
                                        </button>
                                        
                                    </div>
                                </td>
                            </tr>
                            <tr class="spacer"></tr>
                            {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                        <div class="pagination">
                            <span class="step-links">
                                {% if users.has_previous %}
                                    <a href="?page=1">&laquo; First</a>
                                    <a href="?page={{ users.previous_page_number }}">&laquo; Previous</a>
                                {% endif %}
                    
                                
                            </span class="current">
                                Page {{ users.number }} of {{ users.paginator.num_pages }}
                            </span>
                    
                    
                                {% if users.has_next %}
                                <a href="?page={{ users.next_page_number }}">&raquo; Next</a>
                                <a href="?page={{ users.paginator.num_pages }}">Last</a>
                                {% endif %}
                            </span>
                          </div>
                    
                </div>

             
            </div>
        </div>
    </div>
</section>
<!-- END DATA TABLE-->
{% endblock content %}
